<h2>Edit <%= resource_name.to_s.humanize %></h2>
  <div class="row">
    <div class="span4">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, html: {class: "well"}) do |f| %>
          <%= devise_error_messages! %>

              <fieldset>
              <%= f.input :first_name %>
              <%= f.input :last_name %>
              <%= f.input :profile_name %>
              <%= f.input :email, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

            <i>(Оставьте это поле пустым, если не хотите менять пароль!)</i>
            <%= f.input :password, autocomplete: "off" %>

            <i>(Новый пароль повторно!)</i>
            <%= f.input :password_confirmation, autocomplete: "off" %>

          <div><%= f.label :current_password %> <i>(введите свой текущий пароль, что-бы изменения вошли в силу!)</i><br />
            <%= f.password_field :current_password, autocomplete: "off" %></div>

          <div><%= f.button :submit, "Изменить" %></div>
            </fieldset>
        <% end %>

        <h3>Удалить мою страницу</h3>

        <%= button_to "Удаление страницы", registration_path(resource_name), data: { confirm: "Увренны?" }, method: :delete %>

        <%= link_to "Back", :back %>
    </div>
    <div class="span8">
      <h2>Внесите изменения в ваши данные</h2>
    </div>
  </div>