<div class="page-header">
  <h1>Все Статусы</h1>
</div>

<%= link_to "Запостить новый статус", new_status_path, class: "btn btn-success" %>

<% @statuses.each do |status| %>
<div class="status">
  <strong><%= status.user.full_name %>
  <p><%= status.content %></p>
  <div class="meta">
        <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
    <span class="admin">
      | <%= link_to "Edit", edit_status_path(status) %>
      <%= link_to "Delete", status, method: :delete, data: { confirm: "Может не стоит удалять этот статус?"} %>
    </span>
  </div>
</div>
<% end %>